<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="JS/validate.js"></script>
    <title>Add</title>
  </head>
  <body>
    <a href="/add">ADD</a> <a href="/view">VIEW</a>  <a href="/logout">Logout</a> <br> <br> <br>
    <form method="POST" action="/add">
      Username:<input type="text" id="username" name="username" /> <br />
      FirstName:<input type="text" id="fname" name="fname" /> <br />
      MiddleName:<input type="text" id="mname" name="mname" /> <br />
      Lastname:<input type="text" id="lname" name="lname"/> <br />
      Email:<input type="text" id="email" name="email"/> <br />
      Password:<input type="password"  id="passwd" oninvalid="alert('Must contain 6-12 characters');"  pattern=".{6,12}" name="passwd"/> <br />
      Confirm-Password:<input onkeyup="validator();"   pattern=".{6,12}" type="password" id="conf_passwd"/> <br />
      <span id="warning" style="display: none;">Passwords do not match</span><br>
      Role:&nbsp&nbsp&nbsp&nbsp&nbsp<select id="role" name="role">
      aria-label="Default select example">
      <% if(admin) { %> <option value="admin">Admin</option> <% } %>
      <option value="user">User</option>
  </select>      <br>
  Department:<input type="text" id="dept"  name="dept"/> <br />
      <input type="submit">


    </form>
    <% if(exists){ %><span>Username already exists</span> <% } %>
  </body>
</html>
