    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
    </head>
    <body>
        <p6><b>Login</b></p6><br><br>
         <form method="POST" action="/login"> 
        Username:<input type="text" id="username"> <br>
        Password:<input type="text" id="password"> <br><br>
        <input type="submit">
        <a href="/signup">Signup</a>
    </body>
    </html>